
.container {
    display: flex;
    flex-direction: column;
    margin: 3rem auto;
    max-width: 600px;
    color: #444444;
    background-color: #ffffff;
    padding: 18px;
    border-radius: 4px;
    -webkit-box-shadow: 0px 4px 38px -8px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 4px 38px -8px rgba(0,0,0,0.57);
    box-shadow: 0px 4px 38px -8px rgba(0,0,0,0.57);
    border: 1px solid #999999;
}

.title {
    padding: 9px;
    margin: 0;
    color: #ff6600;
}

.form {
    margin: 30px;
}

.button {
    cursor: pointer;
    backGround-color: #ffffff;
    border-radius: 9px;
    border: 1px solid #999999;
    padding: 9px;
    margin: 10px;
    -webkit-box-shadow: inset -1px -4px 33px -12px rgba(0,0,0,0.26);
    -moz-box-shadow: inset -1px -4px 33px -12px rgba(0,0,0,0.26);
    box-shadow: inset -1px -4px 33px -12px rgba(0,0,0,0.26);
}

.answer-section {
    display: flex;
    margin: 30px;
}

.scientific-notation-container {
    width: 200px;
}

.coefficient {
    width: 50px;
}
.exponent {
    position: relative;
    top: -10px;
    width: 30px;
    font-size: 15px;
}
.decimal {
    width: 100px;
}

input {
    border: 0;
    border-bottom: 1px solid #999999;
    text-align: center;
    font-size: 18px;
    background: transparent;
    color: #ff6600;
}

input:focus {
    outline: 0;
    border-bottom: 2px solid #ff6600;
}
